#{extends 'main.html' /}
#{set title:'Ajouter un sous-bud' /}
            
                        
                       
#{if flash.success}
<div class="alert-message success">
<a class="close" href="@{Application.index()}">×</a>
<p><strong>Bien joué!</strong> longue vie à ce Bud</p>
</div>
#{/if}
#{else}
#{ifErrors}
<div class="alert-message error">
<a class="close" href="#">×</a>
<p><strong>Oops!</strong> Ce bud manque d'information pour grandire</p>
</div>
#{/ifErrors}
#{form @Application.newSubIdea(father.id), method:'POST', enctype:'multipart/form-data'}
<section id="newbud">
    <div class="page-header">
        <h1>Mon idée</h1>
    </div>
        <div class="clear-fix">
            <label for="requestTitle"><strong>Bud: </strong></label>
            <div class="input">
            <input class="xlarge" type="text" name="budTitle" size="60px" maxlength="40" value="${flash.budTitle}" value class="required" />
            </div>
        </div>
         <input type="hidden" name="gid" value="1" />
        <div class="clear-fix">
            <label for="content"><strong>Contenu: </strong></label>
            <div class="input">
                <textarea name="content" rows="15" cols="80" class="tinymce">${flash.content}</textarea>
                <span class="help-block">
                    Block of help text to describe the field above if need be.
                </span>
            </div>
        </div>
        <div class="clear-fix">
            <label for="file"><strong>Fichier joint: </strong></label>
            <div class="input">
               <input class="input-file "type="file" name="file"/>
            </div>
        </div>
        <div class="well">
            <input class="btn primary" type="submit" /> <a class="btn default" href="@{Application.show(father.id)}">annuler</a>
        </div>


#{/form}
</section>
#{/else}
               
